// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
spawn-at-startup "kitty" "--class" "scratchpad"
spawn-sh-at-startup "/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
