
window-rule {
    geometry-corner-radius 12.0
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
window-rule {
    match app-id="kitty"
    default-column-width {}
}

window-rule {

    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule{
    match app-id="mpv"
    default-column-width { fixed 200; }
    open-floating true
    default-window-height { fixed 450; }
}
