/Antigravity
/Vencord
/audacity
/bluetuith
/dconf
/discord
/fcitx/dbus
/fcitx5
/gh
/go/telemetry/local
/google-chrome
/gtk-3.0
/gtk-4.0
/htop
/ibus/bus
/keepassxc
/mozc
/nchat
/nwg-look
/pulse
/qt5ct
/torbrowser
/waypaper
/xfce4/xfconf/xfce-perchannel-xml
/xsettingsd
/zen
/lazygit
/assets
/QtProject.conf
/zed
/xarchiver
/vicinae
/systemd/user/graphical-session.target.wants
/mozilla/firefox/Crash Reports
/kdeconnect
/btop
/browsh
/zed
/GIMP/3.0
/GIMP/3.0
/Meltytech
/QtProject
/VeraCrypt
/ZapZap
/google-chrome-for-testing/Crash Reports
/libreoffice/4
/lsp-plugins
/mozilla/firefox
/session
/sniffnet
/sniffnet
/sqlitebrowser
