/* Color Palette - The labels for your digital decay */
@define-color base     #1e1e2e;
@define-color mantle   #11111b;
@define-color text     #cdd6f4;
@define-color subtext  #a6adc8;
@define-color surface  #313244;
@define-color blue     #89b4fa;
@define-color green    #a6e3a1;
@define-color pink     #f5c2e7;
@define-color red      #f38ba8;

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border: 1.5px solid @mantle;
    transition: 0.3s;
}

/* --- Workspaces --- */
#workspaces {
    background: @base;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 0px;
    border: 1px solid black;
}

#workspaces button {
    padding: 4px;
    color: @surface;
    margin-right: 5px;
}
#mpris {
    background: @base;
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    padding-right: 20px;
}
#workspaces button.active {
    color: @subtext;
}

#workspaces button.focused {
    color: @subtext;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: @mantle;
    background: @green;
    border-radius: 20px;
}

#workspaces button:hover {
    background: @mantle;
    color: @text;
    border-radius: 20px;
}

#window,
#clock,
#battery,
#wireplumber,
#custom-recorder,
#custom-night,
#temperature,
#tray,
#custom-powerDraw,
#custom-logo,
#bluetooth,
#niri\/workspaces {
    background: @base;
    opacity: 1;
    padding: 0px 10px;
    margin: 5px 0 0 0;
    border: 1px solid black;
}

/* --- Specific Module Tweaks --- */
#window {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#temperature {
    border-radius: 20px 0px 0px 20px;
}

#temperature.critical {
    color: @red;
}

#backlight {
    border-radius: 20px 0px 0px 20px;
    padding-left: 7px;
}

#tray {
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
    padding: 0px 12px;
}

#wireplumber {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
    padding-right: 8px;
}

#battery {
    color: @green;
    margin-right: 0px;
    border-left: 0px;
}

#bluetooth {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
    padding-right: 8px;
}

#niri\/workspaces {
    border-radius: 20px 0 0 20px;
    margin-left: 5px;
}

/* --- The Grouped Left/Right Blocks --- */
#custom-logo {
    color: @pink;
    border-radius: 20px 0 0 20px;
    margin-left: 5px;
    margin-right: 0px;
    border-left: 5px; /* Keeping your specific 5px border-left */
}

#custom-powerDraw {
    color: @pink;
    margin-left: 0;
    border-radius: 0;
}

#clock {
    color: @pink;
    border-radius: 0 20px 20px 0;
    margin-left: 0;
    border-right: 0px;
    padding-left: 7px;
    transition: 0.3s;
}
